*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-wrap: nowrap;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;

    background-color: #b6a5ea;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;

    flex-direction: column;
}

.bodying{
    display: flex;

    width: 100%;
    height: 100%;
}

/* --------------------------------------- header ----------------------------------------*/

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftHeader{
    width: 15%;
    height: 4rem;
    background-color: #0F052E;
    
    border-bottom: 0.4rem solid #FEAC1C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.miniLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniLogo img{
    width: 3.3rem;
    border-radius: 50%;
}

.rightHeader{
    width: 85%;
    height: 4rem;
    background-color: #230e62;

    border-bottom: 0.4rem solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 3rem;
}

/* --------------------------------------- header - close ----------------------------------------*/

/* --------------------------------------- menu left   ----------------------------------------*/
.leftMenu{
    width: 15%;
    height: 100%;
    background-color: #0F052E;

    display: flex;
    flex-direction: column;
}

.dataEmployee{
    width: 100%;
    height: 4rem;

    background-color: #1d0d4e;

    display: flex;
    flex-direction: column;

    border-bottom: 0.1rem solid black;
    border-top: 0.1rem solid black;
}

.nameEmployee{
    color: #b9a4f7;
    font-size: 1.1rem;
    font-weight: 600;

    padding-left: 1rem;
    padding-top: 0.7rem;
    letter-spacing: 1px;
}

.chargeEmployee{
    color: #b9a4f7;
    font-size: 0.8rem;
    font-weight: 600;

    padding-left: 1rem;
    letter-spacing: 1px;
}

.menuWord{
    width: 100%;
    height: 3rem;
    background-color: #0F052E;

    border-bottom: 0.3rem solid #FEAC1C;
    border-top: 0.3rem solid #FEAC1C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menuWord h3{
    letter-spacing: 0.2rem;
    font-size: 1rem;
    color: #FEAC1C;
    font-weight: 600;
}

.mini-left-menu-hr{
    border: none;
    background-color: #0F052E;
    height: 3px;
}

.buttons-left-menu{
    cursor: pointer;
    padding-left: 2rem;
    text-align: left;
    border: 3px solid #0F052E;
    width: 100%;
    height: 3rem;
    background-color: #1d0d4e;
    color: #b9a4f7;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.buttons-left-menu:hover{
    color: #FEAC1C;
    background-color: #311190;
}

.menu-button-left-menu:hover {
    border-left: 0.4rem double #FEAC1C;
}

.group-buttons-left-menu{
    border-bottom: 0.3rem solid #FEAC1C;
}
/* --------------------------------------- menu left - close ----------------------------------------*/

/* --------------------------------------- menu product ----------------------------------------*/

.productMenu{
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.headerProduct{
    height: 3.5rem;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.header-home-title{
    color: #0F052E;
    font-weight: 800;
    font-size: 1.5rem;

    margin-top: 0.1rem;
    margin-left: 1rem;
}

.header-home-subtitle{
    color: #1d0d4e;
    font-weight: 700;
    font-size: 0.9rem;

    margin-top: -0.3rem;
    margin-left: 1.1rem;
}

.bodyTable{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
}

.btns-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.btn-list-delete, .btn-list-edit{
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 2.6rem;
    height: 1.2rem;
    border-radius: 2px;
    
    margin-top: -0.3rem;
}

.btn-list-edit{
    background-color: #3779ec;
    border: 1px solid #1750b4;
}

.btn-list-delete{
    margin-left: 0.2rem;
    background-color: rgb(234, 53, 53);
    border: 1px solid rgb(251, 19, 19);
}

.btn-save-form, .btn-update-form{
    margin-top: 0.7rem;
    width: 4.5rem;
    height: 2rem;
  
    border-radius: 3px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.btn-save-form{
    background-color: #00a65a;
    border: solid 1px #008d4c;
}

.btn-update-form{
    background-color: #3779ec;
    border: solid 1px #204d74;
}

.btn-save-form:hover{
    background-color: #008d4c;
}

.btn-update-form:hover{
    background-color: #367fa9;
}

.btn-cancel{
    margin-top: 0.7rem;
    width: 4.5rem;
    height: 2rem;

    cursor: pointer;
}
